<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Projects</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box fadeInLeft" data-animate-effect="fadeInLeft">
					<div class="testimony">
						<h4>Investment Banking Tool</h4>
						<blockquote>
						Development of a framework to automate the process of getting data from various financial sources and using it as high value solutions for investment banks and asset management firms. Today, a vast majority of strategy and investment analyses is being done manually and consequently based on limited data sets leading to slow and sub optimal business decisions. We developed a realtime data monitoring as well as giving them value additions such as exporting whole interface to required Powerpoint presentations by click of a button.
						</blockquote>
						<p class="author"><cite>Boston Analytics</cite></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="testimony">
						<h4>Bluejacks Tracker</h4>
						<blockquote>
							Bluejacks Tracker is a web based application to maintain records of the project for a client, and keep track of the progress been made on it. It also has an interface for the employee’s working on the project, playing different roles in the project, they submit the records for their tasks being completed and the Tracker gets updated. Looking to the Tracker at once a Project Manager can come to know about the progress been made so far in the project. The system sends email, with all the information about the next step to be taken, to all the concerned persons. It also contains a reporting module, which creates a csv on a button click.
						</blockquote>
						<p class="author"><cite>Six Red Marbles Learning Pvt Ltd.</cite></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="testimony">
						<h4>Pre Joining Portal</h4>
						<blockquote>
							Pre joining portal was developed to help the HR of the firm as he can easily collect all the necessary information from the new joinee before the joining of a new candidate. He can use his information which is generally required to perform some of the necessary formalities which saves a employee's crucial time on the day of his joining. 
						</blockquote>
						<p class="author"><cite>LaxmiKumaran & Sridharan</cite></p>
					</div>
				</div>
			</div>
		</div>
