<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<div id="fh5co-logo">
				<a href="{% url 'employee:my_cv' %}" title="Download Updated CV">PC</a>
			</div>
		</div>
		<div class="col-xs-10 text-right menu-1">
			<ul>
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="#fh5co-testimonial">Projects</a></li>
				<!--<li class="has-dropdown">
					<a href="#">Tools</a>
					<ul class="dropdown">
						<li><a href="#">HTML5</a></li>
						<li><a href="#">CSS3</a></li>
						<li><a href="#">Sass</a></li>
						<li><a href="#">jQuery</a></li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>-->
			</ul>
		</div>
	</div>
</div>

