<div class="container">
	<div class="row">
		<div id="fh5co-features-2">
			<div class="col-feature-9">
				<div class="row">
					<div class="col-md-12 fh5co-heading animate-box">
						<h2>Core Competencies</h2>
						<p>A full-stack developer, having experience in the listed technologies.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7 col-sm-7 col-md-pull-2 col-sm-pull-2 animate-box" data-animate-effect="fadeInRight">
						<div class="feature-image">
							<img src="images/work_1.png" alt="work">
						</div>
					</div>
					<div class="col-md-5 col-sm-5">
						<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
							<span class="icon">
								<i class="icon-check"></i>
							</span>
							<div class="feature-copy">
								<h3>Languages</h3>
								<p>Python, JavaScript, HTML, CSS, AJAX</p>
							</div>
						</div>

						<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
							<span class="icon">
								<i class="icon-check"></i>
							</span>
							<div class="feature-copy">
								<h3>Frameworks</h3>
								<p>Django, Bootstrap</p>
							</div>
						</div>

						<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
							<span class="icon">
								<i class="icon-check"></i>
							</span>
							<div class="feature-copy">
								<h3>Operating System</h3>
								<p>Linux(Ubuntu), Windows(7 and Above), Mac OSX</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-feature-3">
				<div id="fh5co-counter" class="fh5co-bg fh5co-counter">
					<div class="row">
						<div class="col-md-12 fh5co-heading animate-box">
							<p>Usage of technologies in terms of percentage.</p>
						</div>
					</div>
					<div class="row">
						<div class="display-t">
							<div class="display-tc">
								<div class="col-md-12 animate-box">
									<div class="feature-center">
										<span class="counter js-counter" data-from="0" data-to="80" data-speed="5000" data-refresh-interval="50">1</span>
										<span class="counter-label">Python</span>

									</div>
								</div>
								<div class="col-md-12 animate-box">
									<div class="feature-center">
										<span class="counter js-counter" data-from="0" data-to="80" data-speed="5000" data-refresh-interval="50">1</span>
										<span class="counter-label">Django</span>
									</div>
								</div>
								<div class="col-md-12 animate-box">
									<div class="feature-center">
										<span class="counter js-counter" data-from="0" data-to="75" data-speed="5000" data-refresh-interval="50">1</span>
										<span class="counter-label">JavaScript</span>
									</div>
								</div>
								<div class="col-md-12 animate-box">
									<div class="feature-center">
										<span class="counter js-counter" data-from="0" data-to="75" data-speed="5000" data-refresh-interval="50">1</span>
										<span class="counter-label">HTML & CSS</span>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
