{% extends "base.html" %}
{% block title %}Update Employee{% endblock %}

{% block head %}
	<style>
		.fieldWrapper{
		width: 200px;
		}	
	</style>
	<script type="text/javascript">
	function update_emp(){
		var form = $('#employee_form');
		$.ajax({
			type: "POST",
			url: "/edit/"+{{ id }}+"/",
			data: {'form_data': form.serialize(), csrfmiddlewaretoken: '{{ csrf_token }}',},
			success: function(data){
					if(data.status == 'success'){
						window.location.href = "/employee_list/"
						console.log('Employee Updated successfully');
					}else{
						$('#error').text(data.err_message);
						if(data.err_dict.hasOwnProperty('name')){
							$('#name_err').text(data.err_dict.name[0]);
						}	
						if(data.err_dict.hasOwnProperty('email')){
							$('#email_err').text(data.err_dict.email[0]);	
						}
						if(data.err_dict.hasOwnProperty('phone')){
							$('#phone_err').text(data.err_dict.phone[0]);	
						}
						if(data.err_dict.hasOwnProperty('dob')){
							$('#dob_err').text(data.err_dict.dob[0]);
						}	
						if(data.err_dict.hasOwnProperty('designation')){
							$('#designation_err').text(data.err_dict.designation[0]);	
						}
					}
					},
			error: function(err){
					console.log(err);
			}
		});
	}
	</script>
{% endblock %}

{% block container %}
	{% if err_message %}
		<span id="error">
		{{ err_message }}
		</span>
	{% endif %}
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<h2>Update Employee Details</h2>
			</div>
					
			<form action="" method="POST" id="employee_form" class="form-horizontal">{% csrf_token %}
			{{ form.non_field_errors }}
				<div class="form-group">
					{{ err_dict.name }}
					<label for="{{ form.name.id_for_label }}" class="col-md-1 col-md-offset-4">Name:</label>
					<div class="col-md-5">
						{{ form.name }}
					<span id="name_err" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					{{ err_dict.email }}
					<label for="{{ form.email.id_for_label }}" class="col-md-1 col-md-offset-4">Email:</label>
					<div class="col-md-5">
						{{ form.email }}
					<span id="email_err" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					{{ err_dict.phone }}
					<label for="{{ form.phone.id_for_label }}" class="col-md-1 col-md-offset-4">Phone Number:</label>
					<div class="col-md-5">
						{{ form.phone }}
					<span id="phone_err" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					{{ err_dict.dob }}
					<label for="{{ form.dob.id_for_label }}" class="col-md-1 col-md-offset-4">Date of Birth:</label>
					<div class="col-md-5">
						{{ form.dob }}
					<span id="dob_err" class="text-danger"></span>
					</div>
				</div>	
				<div class="form-group">
					{{ err_dict.designation }}
					<label for="{{ form.designation.id_for_label }}" class="col-md-1 col-md-offset-4">Designation:</label>
					<div class="col-md-5">
						{{ form.designation }}
					<span id="designation_err" class="text-danger"></span>
					</div>
				</div>	
				<div class="form-group">
					<div class="col-md-7 col-md-offset-5">
						<input type="button" value="UPDATE" class="btn btn-primary btn-sm" onclick="update_emp();"">
					</div> 
				</div>
			</form>
		</div>
{% endblock %}






	
